{% extends 'layouts/base.html' %}

{% block content %}
  <h1>{{ username }}</h1>

  <h2>Editar Advertencias de Hortaliza</h2>

  {% if messages %}
    <div class="alert alert-info">
      <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <form method="POST">
    {% csrf_token %}
    
    <div class="form-group">
      <label for="hortaliza">Selecciona una hortaliza:</label>
      <select id="hortaliza" name="hortaliza" class="form-control" style="color: black !important; background-color: white !important;">
        <option value="">-- Selecciona una opción --</option>
        {% for hortaliza in hortalizas %}
          <option value="{{ hortaliza.id }}" {% if hortaliza.id == request.POST.hortaliza|default:'' %}selected{% endif %} style="color: black !important;">
            {{ hortaliza.Nombre }}
          </option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <label for="advertencias">Advertencias:</label>
      <textarea id="advertencias" name="advertencias" class="form-control"></textarea>
    </div>
    
    <button type="submit" class="btn btn-primary">Guardar</button>
  </form>

  <script type="text/javascript">
    const hortalizasAdvertencias = {{ hortalizas_advertencias|safe }};
    
    // Imprimir en la consola los valores de los nombres de las hortalizas
    
    document.getElementById('hortaliza').addEventListener('change', function() {
      const selectedHortalizaId = this.value;
      const advertenciasField = document.getElementById('advertencias');
      
      if (selectedHortalizaId && hortalizasAdvertencias[selectedHortalizaId]) {
        advertenciasField.value = hortalizasAdvertencias[selectedHortalizaId];
      } else {
        advertenciasField.value = '';  // Limpiar si no hay selección
      }
    });
  </script>

{% endblock content %}
