{% extends 'layouts/base.html' %}

{% load static %}
{% block content %}
   
<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container pt-5">
        <div class="row">
            <!-- Columna de la imagen de fondo -->
            <div class="col-lg-6" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100" src="{% static 'assets/img/propias/cilantro.jpeg' %}" style="object-fit: cover;">
                </div>
            </div>

            <!-- Columna de texto y contenido -->
            <div class="col-lg-6 pt-5 pb-lg-5">
                <div class="about-text bg-white p-4 p-lg-5 my-lg-5">
                    <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Acerca de</h6>
                    <h1 class="mb-3">Nosotros.</h1>
                    <p>Soy un desarrollador web especializado en la creación de soluciones digitales a medida. Diseño y desarrollo sitios web modernos, optimizados y funcionales, adaptados a las necesidades de cada cliente. Con experiencia en tecnologías avanzadas, me enfoco en ofrecer productos de alta calidad que mejoren la experiencia del usuario y potencien los negocios en el mundo digital."</p>
                    <div class="row mb-4">
                       
                        <div class="col-6">
                            <img class="img-fluid" src="{%  static 'assets/img/propias/logo claro.png' %}" alt="">
                        </div>
                    </div>
                   <!-- <a href="#" class="btn btn-primary mt-1">Book Now</a>*/ -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- About End -->

<!-- Guides Start -->
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-3 pb-3">
            <h1>ASI SOMOS</h1>
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">"Especialistas en la creación y desarrollo integral de proyectos, desde la planificación hasta la implementación, asegurando soluciones eficientes y de alta calidad."</h6>
        </div>
        <div class="row">
            <!-- Guía 1 -->
            <div class="col-lg-4 col-md-4 col-sm-6 pb-1">
                <div class="team-item bg-white mb-4">
                    <div class="team-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="{% static 'assets/img/team/team-1.jpg' %}" alt="Guide 1">
                        <div class="team-social d-flex justify-content-center" style="margin-top: 15px;">
                            <a class="text-primary p-0 mx-2" href=""><i class="fab fa-twitter fa-2x"></i></a>
                            <a class="text-primary p-0 mx-2" href=""><i class="fab fa-facebook-f fa-2x"></i></a>
                            <a class="text-primary p-0 mx-2" href=""><i class="fab fa-instagram fa-2x"></i></a>
                            <a class="text-primary p-0 mx-2" href=""><i class="fab fa-linkedin-in fa-2x"></i></a>
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <h5 class="text-truncate">Jose Manuel Garcia</h5>
                        <p class="m-0">Desarrollador</p>
                    </div>
                </div>
            </div>

            <!-- Guía 2 -->
            <div class="col-lg-4 col-md-4 col-sm-6 pb-1">
                <div class="team-item bg-white mb-4">
                    <div class="team-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="{% static 'assets/img/team/team-2.jpg' %}" alt="Guide 2">
                        <div class="team-social d-flex justify-content-center" style="margin-top: 15px;">
                            <a class="text-primary p-0 mx-2" href=""><i class="fab fa-twitter fa-2x"></i></a>
                            <a class="text-primary p-0 mx-2" href=""><i class="fab fa-facebook-f fa-2x"></i></a>
                            <a class="text-primary p-0 mx-2" href=""><i class="fab fa-instagram fa-2x"></i></a>
                            <a class="text-primary p-0 mx-2" href=""><i class="fab fa-linkedin-in fa-2x"></i></a>
                        </div>
                        
                    </div>
                    <div class="text-center py-4">
                        <h5 class="text-truncate">Maria Fernanda Bernal</h5>
                        <p class="m-0">Diseñadora</p>
                    </div>
                </div>
            </div>

            <!-- Guía 3 -->
            <div class="col-lg-4 col-md-4 col-sm-6 pb-1">
                <div class="team-item bg-white mb-4">
                    <div class="team-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="{% static 'assets/img/team/team-3.jpg' %}" alt="Guide 3">
                        <div class="team-social d-flex justify-content-center" style="margin-top: 15px;">
                            <a class="text-primary p-0 mx-2" href=""><i class="fab fa-twitter fa-2x"></i></a>
                            <a class="text-primary p-0 mx-2" href=""><i class="fab fa-facebook-f fa-2x"></i></a>
                            <a class="text-primary p-0 mx-2" href=""><i class="fab fa-instagram fa-2x"></i></a>
                            <a class="text-primary p-0 mx-2" href=""><i class="fab fa-linkedin-in fa-2x"></i></a>
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <h5 class="text-truncate">Jorge Luis Alonso</h5>
                        <p class="m-0">Agronomo</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Guides End -->

{% endblock content %}
