{% extends 'layouts/base.html' %}

{% block content %}
<h1>{{username}}</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto minima quasi harum quo molestias dignissimos quis aliquid saepe pariatur quia voluptas, nulla quae officia similique aperiam minus ullam consectetur quisquam sapiente voluptates voluptatem voluptate. Cum soluta, mollitia ipsa commodi et, eum facere laboriosam harum nobis quidem non saepe! Quae laudantium reprehenderit mollitia tempore vel sapiente nesciunt, dolores molestias ab tenetur, repudiandae labore assumenda praesentium, pariatur velit facere temporibus! Veniam nostrum cupiditate iste nobis veritatis, quae voluptatum ut sapiente facilis earum debitis, numquam corrupti voluptates eum quis autem adipisci? Totam quae provident facilis consectetur id voluptate debitis cupiditate hic architecto sit.</p>
{% endblock content %}