{% extends 'layouts/base.html' %} {% load static %} {% block content %}
<main class="main">
  <section id="hero" class="hero section dark-background">

    <img src="{% static 'assets/img/propias/bg.png' %}" alt="" data-aos="fade-in">

    <div class="container d-flex flex-column align-items-center">
      <h2 data-aos="fade-up" data-aos-delay="100">Análisis y Predicción de Precios en el Mercado Agrícola.</h2>
      <p data-aos="fade-up" data-aos-delay="200">Datos precisos para decisiones inteligentes</p>
      <div class="d-flex mt-9" data-aos="fade-up" data-aos-delay="300" style="margin-top: 20px;">
        <a href="{% url 'about' %}" class="btn-get-started">¿QUIENES SOMOS?</a>
      </div>
    </div>

  </section>
  
  
</main>


{% endblock content %}
